body {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 247, 90);

}
.content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 500px;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
}
.player-one__window, .player-two__window {
    width: 500px;
}
.content {
    width: 1024px;
}
#player-one__scale, #player-two__scale {
    width: 100px;
    height: 100px;
    background-color: red;
}
#player-one__scale__score, #player-two__scale__score {
    font-size: 40px;
    text-align: center;
}
